/* RUTA: frontend/src/index.css (ANIMACIÓN SPIN ELIMINADA) */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background; 
  @apply text-text-primary;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- NUEVA UTILIDAD PARA OCULTAR LA BARRA DE DESPLAZAMIENTO --- */
/* Podemos aplicar la clase 'no-scrollbar' a cualquier elemento con scroll. */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
.fan-blades {
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center;
}